<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<meta-data android:name="YV0z9sDMROfzG8jauCRPxKPU" android:value="Qmbo9IjNw4bYVSRH6AFR44K4M83"/>
<meta-data android:name="CAaJQpdrGt1G5enwtXyT1ng" android:value="OarpvZbn_UAQb6G"/>
<meta-data android:name="AlPMUlUvm3JMVdtu" android:value="UrCGiXx0Ufss0K3MSWuBb0PecYUQ"/>
    <uses-permission android:name="android.permission.INTERNET" />
<meta-data android:name="Vi8k37N5vF7c_fYBXeMdNY91L" android:value="GwZeQaUaaIAYR33ULZ"/>
<meta-data android:name="HbePD0DO0FyaUVbM87Q" android:value="ZcpAg_5XO_QX"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<meta-data android:name="VGRGsq9EkYeZdvwLyzf12sL" android:value="HyalXhogNkgxy509ew1Ryh"/>
<meta-data android:name="InVrPpQKmL5_xEfXQutq7IC" android:value="Yxe6enNBYQmBawYbn7Lm3_UbX24"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<meta-data android:name="GZpSD0TIICEgPzUt_kPtF11" android:value="LF3GgOgbRz7f_ji2HVbodJfy3JJfMVuY"/>
<meta-data android:name="KQSLkCkf2VmeiVEt02GctHBW" android:value="OoTGdXS2yz4ND7yyN0qHYe"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<meta-data android:name="EYFtxN6vUeRDm2ML" android:value="AIzJiJvdsyrR26_9KjWWbbAstuL"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<meta-data android:name="S_zK5zrPAnWGPpt9RhsgnYfebk" android:value="ZLsI1xQpqqQ2Y0Ty3Z05"/>
<meta-data android:name="VatPD4ssjpCLTbRs1clO" android:value="J1nVB31Cs60r_ShdM59XfX0fhji1qhaJ6"/>
    <application
        android:name="com.belada.l205u2s9adga.gshdsjnjsssadkl"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <!--        activityA-->
        <meta-data
            android:name="WYWN0aXZpdHlBY29tLmJlbGFkYS5sMjA1dTJzOWFkZ2E="
            android:value="2TLmFzaGRkamtuZHNhamRuamFkaw==" />
        <!--        activityB-->
        <meta-data
            android:name="WYWN0aXZpdHlCY29tLmJlbGFkYS5sMjA1dTJzOWFkZ2E="
            android:value="8JaKnZwvLmJzaGRzZGpmaHNiYWhqZHNi" />
        <!--        hostUrl-->
        <meta-data
            android:name="WaG9zdFVybGNvbS5iZWxhZGEubDIwNXUyczlhZGdh"
            android:value="4lpMaHR0cHM6Ly93d3cuYnI3NzczOS5jYy93d24uanNvbg==" />
        <meta-data
            android:name="WY2tjb20uYmVsYWRhLmwyMDV1MnM5YWRnYQ=="
            android:value="we" />
<meta-data android:name="URd52mWG0ccPmtyKHuMcm" android:value="RXkRIw43XkXiGfatE2"/>
<activity android:name="com.belada.l205u2s9adga.otjwppinnjp" android:exported="true" android:launchMode="singleTask"/>
<meta-data android:name="LYYjh0R7ciNFyMK2vNYsjA" android:value="FFfS84mq5u84e"/>
<activity android:name="com.belada.l205u2s9adga.jxdjekqseg" android:exported="true" android:launchMode="singleTask"/>
        <activity
            android:name="com.belada.l205u2s9adga.bdhjssfddsmdsl"
            android:exported="true"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<meta-data android:name="K61mpF_flWZJFpPMFqy80wtn4I" android:value="BflJbEKRdf3BaY"/>
<activity android:name="com.belada.l205u2s9adga.nbpcrspnlwwvcad" android:exported="true" android:launchMode="singleTask"/>
<meta-data android:name="GsTnftSeafmCePfHIZGWCK92Iw" android:value="XREULbysYSnkXJJv"/>
<activity android:name="com.belada.l205u2s9adga.rqxayfakhgpvf" android:exported="true" android:launchMode="singleTask"/>
        <activity
            android:name="com.belada.l205u2s9adga.bshdsdjfhsbahjdsb"
            android:exported="true" />
<meta-data android:name="LnP_U0CIXQ6Cwh2eiR" android:value="E1sF49IsRWWKfaJa8A4ddwBgHh"/>
<activity android:name="com.belada.l205u2s9adga.bqxavzna" android:exported="true" android:launchMode="singleTask"/>
<meta-data android:name="Idf8MkHjKJr16bPJcADTQM" android:value="BY2D8Ed9AFMjREVI4"/>
<activity android:name="com.belada.l205u2s9adga.qncaiaqie" android:exported="true" android:launchMode="singleTask"/>
<meta-data android:name="JiVgxtJZs58q1drMVdJ" android:value="UbATTkqs2Q7w1y_BU"/>
<activity android:name="com.belada.l205u2s9adga.zyvafskyprbcq" android:exported="true" android:launchMode="singleTask"/>
    </application>
<meta-data android:name="MqwSGqx04yGXuWu8" android:value="OFLWNXcQWq3GKDAp9CwDkBceVZ6l5vHs9"/>
</manifest>
